<div class="navbar navbar-inverse navbar-custom navbar-fixed-bottom" role="navigation">
     <div class="container">
          <div class="navbar-text pull-left">
               <p class="txt-railway">© 2018 by SEDS TnTech. Proudly NOT created with Wix.com</p>
          </div>
          <div class="navbar-text pull-right">
               <a href="https://www.facebook.com/sedstntech/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
               <a href="https://twitter.com/SedsTnTech?lang=en"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
               <a href="https://www.youtube.com/channel/UChfLODmJDbXxZ-jncmMFqSg/featured"><i id="social-yt" class="fa fa-youtube-square fa-3x social"></i></a>
               <a href="https://www.instagram.com/sedstntech/"><i id="social-in" class="fa fa-instagram fa-3x social"></i></a>
          </div>
     </div>
</div>
