<!DOCTYPE html>
<html>
    <% include partials/_layout.ejs %>
    <body>
         <%include partials/_navigation.ejs %>

         <div class="container container-donation">
              <h3>Running a club takes a lot of time and effort. But it also takes a lot</h3>
              <h3>of resources, monetary or otherwise. All donations given to the club</h3>
              <h3>are used solely for this chapter's space events and club projects.</h3>
         </div>

         <%include partials/_footer.ejs %>
    </body>
</html>
